.parts-container {
  border: 1px solid #ddd;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.part {
  box-shadow: 2px 2px 2px #ebebeb;
  background-color: #f7f7f7;
  padding: 30px 30px;
  margin: 25px 0px;
}

.partGroup {
  box-shadow: 2px 2px 2px #ebebeb;
  background-color: #e4e4e4;
  padding: 30px 30px;
  margin: 25px 0px;
}

.partGroup. > .parts-header,
.part > .fields-header {
  margin-top: 5px;
}

.part > .fields {
  margin-top: 5px;
}

.create-part-group {
  border: 1px solid #ddd;
  padding: 30px;
  margin-top: 10px;
}